.header {
  text-align: center;
  padding: 3.2rem 0;
}

.header__brand {
  font-size: 3.2rem;
  font-weight: 500;
  color: #232323;
}

.header__slogan {
  font-size: 2rem;
  color: #393939;
  font-weight: 300;
}
