.puzzle {
  margin: 3.2rem 0;
}

.puzzle__table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  aspect-ratio: 1;
}

/* Row */

.puzzle__row:first-child {
  border-top: solid;
}

.puzzle__row:nth-child(3n) .puzzle__cell {
  border-bottom: solid;
}

/* Cell */

.puzzle__cell {
  border: 1px solid #000;
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  text-align: center;
  font-size: 2.8rem;
  aspect-ratio: 1;
  user-select: none;

  &:hover {
    background-color: #dedede;
  }

  &:active:hover {
    background-color: #cdcdcd;
  }

  &:nth-child(3n) {
    border-right: solid;
  }

  &:first-child {
    border-left: solid;
  }

  &--selected {
    background-color: #bff;

    &:hover {
      background-color: #cee;
    }
  }

  &--given {
    font-weight: bold;
  }
}
