<div class="puzzle">
  <table class="puzzle__table">
    @for (row of grid; track row; let currentRowIndex = $index) {
      <tr class="puzzle__row">
        @for (column of row; track column; let currentColumnIndex = $index) {
          <td
            class="puzzle__cell"
            (click)="onSelectCell(currentRowIndex, currentColumnIndex)"
            [class.puzzle__cell--given]="column.wasGiven"
            [class.puzzle__cell--selected]="rowIndex === currentRowIndex && columnIndex === currentColumnIndex"
          >
            {{ column.value === 0 ? "&nbsp;" : column.value }}
          </td>
        }
      </tr>
    }
  </table>
</div>
